<div class="row">
  <div class="col-md-8">
    <% if @registered_applications.any? %>
      <%= render @registered_applications %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "Register a new application", new_registered_application_path, class: 'btn btn-primary' %>
  </div>
</div>