<div class="jumbotron">
  <h1>Blocmetrics</h1>
  <p>An analytics service to track events on websites.</p>
  <p>
    <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %>
    or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <h2>Track</h2>
    <p>events on your website</p>
  </div>
  <div class="col-md-4">
    <h2>Capture</h2>
    <p>and save those events to a database</p>
  </div>
  <div class="col-md-4">
    <h2>Display</h2>
    <p>the captured event data</p>
  </div>
</div>